<ul class="nav">
  <li id="diagram-container">
    <h3>Diagrams</h3>
    {{render "sidebar/diagram_list"}}
    <label for="csx-file">csx:</label>
    {{file-upload elementId="csx-file" action="parseCSX"}}
    <label for="sql-file">sql:</label>
    {{file-upload elementId="sql-file" value=sql action="parseSQL"}}
  </li>
  <li></li>
</ul>
